/* onboarding.css */
.onboarding {
   
    padding: 20px;
}

.onboarding form {
    display: flex;
    justify-content: center;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%; /* Adjust to full width for better responsiveness */
    max-width: 600px; /* Restrict maximum width */
    text-align: start;
}

.onboarding form input {
    padding: 15px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(143, 141, 141);
    border-radius: 10px;
}

.onboarding form label {
    margin: 10px 0;
    font-weight: bold; /* Added for better label visibility */
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row; /* Align items in a row */
    gap: 10px; /* Add gap between inputs */
    margin-bottom: 10px; /* Space below the container */
}

.onboarding form .multiple-input-container input {
    width: 80px; /* Set width for the inputs to match gender inputs */
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
}

.onboarding form input[type=radio] {
    display: none;
}

.onboarding form input[type=radio] + label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    margin-right: 10px;
}

.onboarding form input[type=radio]:checked + label {
    border: solid 2px rgb(223, 60, 45);
}

.onboarding form input[type=checkbox] {
    margin-right: 10px; /* Space between checkbox and label */
}

.onboarding form .checkbox-container {
    display: flex;
    align-items: center; /* Vertically center the checkbox with the label */
    margin-bottom: 20px; /* Space below the checkbox container */
}

.onboarding form input[type=submit] {
    padding: 10px 20px;
    border: none;
    background-color: rgb(23, 21, 21);
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.onboarding form input[type=submit]:hover {
    background-color: rgb(226, 115, 115);
}

.onboarding form input[type=submit]:active {
    background-color: rgb(223, 60, 45);
}

.onboarding form .photo-container img {
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
}

/* Placeholder styling */
.onboarding form input::placeholder {
    color: rgba(0, 0, 0, 0.5); /* Light gray color for placeholders */
    opacity: 1; /* Ensures placeholder text is not faded */
}
